<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_DiscountSticker>
            <version>1.0.0</version>
        </Webgriffe_DiscountSticker>
    </modules>
    <global>
        <models>
            <webgriffe_discountsticker>
                <class>Webgriffe_DiscountSticker_Model</class>
                <resourceModel>webgriffe_discountsticker_resource</resourceModel>
            </webgriffe_discountsticker>
            <webgriffe_discountsticker_resource>
                <class>Webgriffe_DiscountSticker_Model_Resource</class>
            </webgriffe_discountsticker_resource>
        </models>
        <blocks>
            <webgriffe_discountsticker>
                <class>Webgriffe_DiscountSticker_Block</class>
            </webgriffe_discountsticker>
        </blocks>
        <helpers>
            <webgriffe_discountsticker>
                <class>Webgriffe_DiscountSticker_Helper</class>
            </webgriffe_discountsticker>
        </helpers>
        <resources>
            <webgriffe_discountsticker_setup>
                <setup>
                    <module>Webgriffe_DiscountSticker</module>
                </setup>
            </webgriffe_discountsticker_setup>
        </resources>
    </global>
    <phpunit>
        <suite>
            <modules>
                <Webgriffe_DiscountSticker/>
            </modules>
        </suite>
    </phpunit>
</config>
